div {
    border-radius: 15px;
}
.main-container-1 {
    background-color: lightsteelblue;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 1000px;
    min-height: 130px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.sub-container-1-1 {
    width: 300px;
    height: 300px;
    background-color: #cdd8ee;
    margin: 30px auto;
    margin-right: 15px;
}
.sub-container-1-2 {
    width: 400px;
    height: 300px;
    background-color: #cdd8ee;
    margin: 30px auto;
    margin-left: 15px;
}
.product-image{
    height: 270px;
    width: 270px;
    margin: auto;
    margin-top: 15px;
    background-color: #f3f3f3;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product-info{
    min-height: 180px;
    width: 340px;
    margin: auto;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}
.text{
    color: #5e6b79;
    margin-bottom: 5px;
}
.main-container-2 {
    background-color: lightsteelblue;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 1000px;
    min-height: 130px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 30px;
}
.sub-container-2-1{
    display: flex;
}
.button{
    width: 100%;
    height: 50px;
    margin: auto;
    background-color: #94a3bc;
    color: white;
    border: solid 2px #414141;
    display: flex;
    justify-content: center;
    align-items: center;
    size: 20px;
}
.sub-container-2-2{
    display: flex;
    margin: 30px auto;
}

@media only screen and (max-width: 800px){
    .main-container-1{
        width: 100%;
    }
    .main-container-2{
        width: 100%;
    }
    .sub-container-1-1{
        flex-grow: 1;
    }
    .sub-container-1-2{
        flex-grow: 1;
    }
}